@-webkit-keyframes ico-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes ico-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

body {
    background: #fff;
    margin: 0;
    padding: 0
}

.content_wrap {
    padding-top: 12rem;
    font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 768px) {
    .content_wrap {
        padding-top: 8rem
    }
}

.content_wrap > header {
    border-bottom: 2px solid #000;
    background: #fff;
    z-index: 9999
}

.content {
    padding: .5rem 1.5rem
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #fff;
        border-top: 0;
        padding: 1rem
    }
}

.navbar-brand img {
    width: 240px
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 60px;
        width: auto
    }
}

@media (min-width: 769px) {
    #nav__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

#nav__items .nav-link {
    color: #59595b
}

#nav__items #nav__buttons .nav-item {
    padding: 0 1rem
}

@media (min-width: 769px) {
    #nav__items #nav__buttons .nav-item {
        border-right: 1px solid #59595b
    }
}

#nav__items #nav__buttons .nav-item:last-child {
    border-right: 0
}

#nav__items #nav__buttons .nav-item {
    padding: 0 1rem;
    height: 1.75rem
}

#nav__items #nav__buttons .nav-link {
    line-height: .5;
    font-size: 1rem;
    cursor: pointer
}

#nav__items #nav__buttons .nav-link:hover {
    text-decoration: underline
}

#nav__items #nav__buttons .dropdown-3 {
    z-index: 3
}

#nav__items #nav__buttons .dropdown-4 {
    z-index: 4
}

#nav__items #nav__search .input-group {
    border: 2px solid #59595b
}

#nav__items #nav__search .btn {
    padding: 0 .5rem;
    margin: .25rem;
    border-radius: 0;
    background: #59595b;
    color: #fff
}

#nav__items #nav__search .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

#nav__items #nav__search .input-search {
    border: 0
}

#nav__items #nav__search .input-search:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

#nav__menu .nav-item, #nav__social {
    text-align: center
}

#desktop__menu {
    height: 2rem
}

#desktop__menu .list-inline-item {
    height: 1.5rem;
    padding: 0 1rem;
    border-right: 0
}

@media (min-width: 769px) {
    #desktop__menu .list-inline-item {
        border-right: 1px solid #59595b
    }
}

#desktop__menu .list-inline-item .list-inline-item:last-child {
    border-right: 0
}

#desktop__menu .list-inline-item.active, #desktop__menu .list-inline-item:hover {
    position: relative
}

#desktop__menu .list-inline-item.active > .nav-link, #desktop__menu .list-inline-item:hover > .nav-link {
    background-color: #59595b;
    color: #fff;
    z-index: 2
}

#desktop__menu .list-inline-item.active:after, #desktop__menu .list-inline-item:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: 1rem;
    right: 1rem;
    background: #59595b;
    z-index: -1
}

#desktop__menu .list-inline-item .nav-link {
    color: #59595b;
    line-height: .5;
    text-transform: uppercase;
    font-size: 1.25rem
}

.ico-globe {
    padding-left: 25px !important;
    background: rgba(0, 0, 0, 0) url(../images/globe.png) 0 0 no-repeat scroll
}

.ico-search {
    padding-left: 40px;
    background: rgba(0, 0, 0, 0) url(../images/search.png) center center no-repeat scroll
}

.ico_down {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 1;
    background: rgba(0, 0, 0, 0) url(../images/down.png) center center no-repeat scroll
}

.ico-check-circle {
    display: block;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    background: rgba(0, 0, 0, 0) url(../images/check-circle.svg) center center no-repeat scroll/100% 100%
}

.ico-spinner {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background: rgba(0, 0, 0, 0) url(../images/spinner.svg) center center no-repeat scroll/100% 100%
}

.ico-spin {
    -webkit-animation: ico-spin 2s infinite linear;
    animation: ico-spin 2s infinite linear
}

.category-tags__wrap {
    margin-top: .5rem
}

.category-tags__wrap .list-inline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch
}

@media (max-width: 768px) {
    .category-tags__wrap .list-inline-item {
        margin-right: 0;
        white-space: nowrap
    }
}

.category-tags__wrap .category-tags__item {
    border: 2px solid #59595b;
    padding: .5rem;
    border-radius: 4px;
    color: #59595b
}

.category-tags__wrap .category-tags__item.active, .category-tags__wrap .category-tags__item:hover {
    color: #fff;
    background-color: #d12a2a;
    border-color: #d12a2a;
    text-decoration: none
}

.category-items__wrap .category-items__item {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer
}

.category-items__wrap .category-items__item-image img {
    width: calc(100% + 1rem);
    height: auto;
    margin: -.5rem
}

.category-items__wrap .category-items__item-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5rem;
    flex: 0 0 5rem;
    font-weight: 700;
    font-size: 1rem
}

.category-items__wrap .category-items__item-description {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left
}

.category-items__wrap .category-items__item-description, .category-items__wrap .category-items__item-image, .category-items__wrap .category-items__item-title {
    margin-bottom: 2rem
}

.category-items__wrap .category-items__item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem
}

.category-items__more {
    padding: .5rem 0;
    text-align: center
}

.category-items__more a {
    font-size: 2rem;
    color: #868686;
    text-transform: uppercase
}

#contact-us__error, #contact-us__loading, #contact-us__submitted, .contact-us__enquiryType-wrap {
    display: none
}

.contact-us__submitted-title {
    color: #4ea81a
}

.contact-us__submitted-ico {
    padding: 1rem
}

.footer-content {
    border-top: 2px solid #c8c8c8;
    padding: 1rem
}

.footer-menu .list-inline-item {
    padding: 0 1rem;
    height: 1.75rem
}

@media (min-width: 769px) {
    .footer-menu .list-inline-item {
        border-right: 1px solid #59595b
    }
}

.footer-menu .nav-link {
    color: #59595b;
    font-weight: 700;
    line-height: .5;
    font-size: 1rem;
    cursor: pointer
}

.footer-menu .nav-link:hover {
    text-decoration: underline
}

.back-to-top a {
    color: #d12a2a;
    font-size: 1.5rem
}

.copyright {
    color: #c8c8c8
}

.category-items__item-label img {
    height: 30px;
    width: 30px;
}